/* Created by: Tim Brady
* Created on: February 28 2023 for Mr Coxall
* This file contains the CSS for index.html
*/
body {
  background-color: #91aff1;
}

div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4d7cff;
  text-align: center;
}

p {
  background-color: #fffbfb;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

img {
  max-width: 500px;
  height: 500px;
  margin-left: 450px;
  margin-right: 700px;
  margin-top: 20px;
}

style demo-list-three {
  width: 650px;
}
